<div class="header"><h1>TEST</h1></div>
<div class="body"><br><br>
  <label for="uname">Client/Id: </label>
    <input type="text" id="uname" name="name"><br><br>

    <label for="examiner">Examiner: </label>
    <input type="text" id="uname" name="name"><br><br>
    Date: {{jstoday}}<br><br>
    Enter Text Number:<input type="text" id="testnum" name="testnum">
</div>
<div class="bottom">
        <button [routerLink]="['/start']"  > Back</button>
      <button [routerLink]="['/page1']"  > Next</button>

 </div>