p{
  font-family:Lato;
}
.header{
  text-align:center;
  font-family:Lato;
   
  border:solid;
  display: flex;
  justify-content: center;
  align-items: center; 
 
  border-color:blue;
  height:10vh;
}
.body{
   text-align:center;
  font-family:Lato;
  font-size:3vh;
  border:solid;
  padding:1vh;
   margin-top:2vh;
  margin-bottom:2vh;
  height:70vh;
  border-color:blue;
}
button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vh;
}